.input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 260px;
  height: 34px;
  
  &__icon-left {
    position: absolute;
    top: 4px;
    left: -7px;
    z-index: 100;
    color: gray;
    padding-left: 12px;
  }

  &__icon-search {
    position: relative;
    padding-left: 32px;
    height: 34px;
    border-radius: 3px;
    border: 2px solid rgb(164, 159, 159);
  }

  &__input-new{
    border: 2px solid rgb(164, 159, 159);
    border-radius: 3px;
    padding-left: 12px; 
    margin-left: -180px;
  }

  
}
