.slider {

  width: 100px;
  background: #fdfdfd;
  display: flex;
  align-items: center;
  color: rgba(6, 6, 6, 0);
  background-color: rgba(255, 0, 0, 0);
 

  &__sliderInput{
  
    color: rgb(127, 134, 134);
    font-weight: bold;
  }
}

.slider input[type="range"] {
  width: 420px;
  height: 2px;
  background-color: rgb(234, 18, 7);
  color: rgb(59, 23, 117);
  border: 2px solid red;
}
