.slider {

  width: 100px;
  background: #fdfdfd;
  display: flex;
  align-items: center;
  color: rgba(6, 6, 6, 0);
  background-color: rgba(255, 0, 0, 0);

  &__sliderInput{
  
    color: rgb(127, 134, 134);
    font-weight: bold;
  }
}

.slider input[type="range"] {
  width: 420px;
  height: 2px;
  background-color: rgb(234, 18, 7);
  color: rgb(59, 23, 117);
  border: 2px solid red;
}




input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}