.input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 271px;
  

    &__inputStyle {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        color: #777171;
        padding: 10px 10px 10px 20px;
        width: 100%;
        border: 2px solid rgb(164, 159, 159);
        border-radius: 3px ;

        
      }
      

  }