
.table{

    display: flex;
    justify-content:center;
    align-items: center;
    
    table, td {
        border: 2px solid;
        color: rgb(126, 125, 125);
        background-color: rgb(255, 255, 255);
        padding: 15px;
      }

    th{
        border: 1px solid;
        padding: 15px;
        color:black;
        border-color: rgb(126, 125, 125);
        background-color: rgb(255, 255, 255);
    }
      
      table {
        
        width: 100%;
        border-collapse: collapse;
      } 
}

