.input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 271px;
  

    &__searchStyle {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        color: #777171;
        padding: 10px 10px 10px 35px;
        width: 500%;
        border: 2px solid rgb(164, 159, 159);
        border-radius: 3px ;
      }
      
      &__inputIcon {
        color: #817d7d;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 50%;
        margin-right: 5px;
        transform: translateY(-50%);
      }
  }


