.input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 271px;


  &__searchStyle {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: #777171;
    padding: 10px 10px 10px 35px;
    width: 200%;
    border: 2px solid rgb(164, 159, 159);
    border-radius: 3px;
  }

  &__position {
    position: relative;
    width: 160px;
    height: 28px;
  }

  &__icon-left {
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 100;
    color: #817d7d;
  }
}
